<H1>Demo#index</H1>
<p>Hello from Index!</p>

<%= link_to('Hello Page', {:controller => 'demo', :action => 'hello'}) %>
<br />

<%= link_to('Hello Page', {:controller => 'demo', :action => 'hello', :page => 5, :id => 1}) %>


