<H1>Demo#index</H1>
<p>Hello from Index!</p>

<%= link_to('Hello Page', {:controller => 'demo', :action => 'hello'}) %>
<br />

<%= link_to('Hello Page', {:controller => 'demo', :action => 'hello', :page => 5, :id => 1}) %>

<br />
<% name = "Sugat" %>
<% name = "Sorry! '); alert('I hacked you!" %>

<%= link_to('Roar' , '#', :onclick => "jsRoar('#{j(name)}');return
true;" )%>

<%= javascript_tag("jsRoar('#{j(name)}');") %>


